[core]
	editor = nvim
	sshCommand = \"C:/Windows/System32/OpenSSH/ssh.exe\"
	pager = delta
[pull]
	rebase = false
[fetch]
	prune = true
[rebase]
	autoStash = false
[diff]
	guitool = vscode
	tool = nvimdiff
	colorMoved = default
[difftool]
  prompt = false
[merge]
	tool = nvimdiff
	guitool = vscode
	conflictstyle = diff3
[mergetool]
	prompt = false
[credential "http://gitlab"]
	provider = generic
[user]
	name = Jose Antonio Penedo
	email = jpenedo@marineinstruments.es
[safe]
	directory = C:/Users/japenedo/AppData/Local/nvim-data/lazy/*
	directory = d:\\git\\dotfileswin\\
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = false
	width = variable
