customCommands:
  - key: "G"
    context: "localBranches"
    description: "Create MR in Gitlab"
    loadingText: "Opening merge request comparison..."
    prompts:
      - type: "menuFromCommand"
        key: "targetremotebranch"
        title: "Select target branch (remote/branch)"
        command: powershell.exe -NoProfile -ExecutionPolicy Bypass -File "{{ runCommand "powershell -NoProfile -Command Write-Output $env:LOCALAPPDATA/lazygit" }}/list-remote-upstream-branches.ps1" -SelectedLocalBranch "{{ .SelectedLocalBranch.Name }}"
    command: powershell.exe -NoProfile -ExecutionPolicy Bypass -File "{{ runCommand "powershell -NoProfile -Command Write-Output $env:LOCALAPPDATA/lazygit" }}/open-gitlab-mr.ps1" -SourceBranch "{{ .SelectedLocalBranch.Name }}" -TargetRemoteBranch "{{.Form.targetremotebranch}}"
